<div>
  <h2> Find your next Pawnr</h2>
  <%= link_to 'Add a pawnr', new_dog_path, class: "btn-main-add-pawnr"%>
</div>

<div class="main-container">
  <div class ="cards-container" >
    <div class ="cards">
      <% @dogs.each do |dog| %>
        <div class="card">
            <% if dog.photos.attached?  %>
              <div class="background" style = "background:url(<%=url_for(dog.photos.first)%>); background-size: 100% 100%; ">
              </div>
            <% end %>
          <div class= "card-body">
            <div class ='main-info'>
              <h4> <%= dog.name %></h4>
              Age: <%= dog.age %>
            </div>
            <div class = 'extra-info'>
              <strong class='price' ><%= dog.price %>€  /day</strong>
              <%= link_to 'About Me', dog_path(dog), class:"btn-main-index"  %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
   <div id="map"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
</div>
