<div class="form-container">
  <div class="form">
    <h1>Share the puppy love</h1>
      <%= simple_form_for [ @user, @dog ], html: {class: "grid"} do |f| %>
        <div class="row">
          <div class="col-6">
            <%= f.input :name, placeholder: "Nolan" %>
          </div>
          <div class="col-6">
            <%= f.input :breed, placeholder: "American Staffordshire" %>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <%= f.input :age %>
          </div>
          <div class="col-4">
            <%= f.input :size, as: :select,  collection: ["Small", "Medium", "Large", "Extra-Large"], placeholder: "small" %>
          </div>
          <div class="col-4">
            <%= f.input :price %>
          </div>
        </div>
        <%= f.input :address, placeholder: "Carrer de Joaquim Ruyra, 9", id: "dog_address" %>
        <%= f.input :description, as: :text, placeholder: "Playful dog, loves stealing other people's food" %>
        <%= f.input :photos, as: :file, input_html: { multiple: true }  %>
        <%= f.submit "Submit", class: "btn-main-submit" %>
      <% end %>
    </div>
  <img src="https://images.pexels.com/photos/1390361/pexels-photo-1390361.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Someone cuddling a dog">
</div>
