<h1 class = "header"> My Name is <%= @dog.name %></h1>

  <div class = 'main-photo'>
  </div>

  <div class = 'information'>
    <h3><%= @dog.breed%> - <%= @dog.size%> </h3>
    <p><%= @dog.description %></p>
  </div>

  <div>
    <%= "#{@dog.price}€" %>
    <%= link_to "Book Me", new_dog_booking_path(@dog), class: "btn btn-primary"%>
  </div>

  <%= cl_image_tag @dog.photo.key,
        width: 400, height: 300, crop: :fill %>
</div>
