<h1 class = "header"> My Name is <%= @dog.name %></h1>

  <div class = 'main-photo'>

      <%= cl_image_tag @dog.photo.key,
      width: 500, height: 300, crop: :fill %>

    <div class= "right">
      <div class = "list-details">
        <ul class = 'details'>
          <li><strong>Breed:</strong> <%= @dog.breed%> </li>
          <li><strong>Size:</strong> <%= @dog.size%> </li>
          <li><strong>Gender:</strong> Female </li>
          <li><strong>Age:</strong> <%= @dog.age%></li>
        </ul>
      </div>

      <div class="book">
        <h4 class="price"><%= "#{@dog.price}€ / week" %></h4>
        <%= link_to "Meet me", new_dog_booking_path(@dog), class: "btn-main-show"%>
      </div>

    </div>

  </div>


<div class="about-me">
  <h2> About Me </h2>
  <p class = "dog-description"> <%=  "#{@dog.name} is a beautiful and very calm dog.
  She loves playing with other dogs. She rarely barks and her favorite food is bacon"%> </p>
</div>
