<h1 class = "header"> My Name is <%= @dog.name %></h1>

  <div class = 'main-photo'>
    <% @dog.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 500, crop: :fill %>
    <% end %>


    <div class= "right">
      <div class = "list-details">
        <ul class = 'details'>
          <li><strong>Breed:</strong> <%= @dog.breed%> </li>
          <li><strong>Size:</strong> <%= @dog.size%> </li>
          <li><strong>Gender:</strong> Female </li>
          <li><strong>Age:</strong> <%= @dog.age%></li>
        </ul>
      </div>

      <div class="book">
        <h1>Create your doggy experience</h1>
          <h4 class="price"><%= "#{@dog.price}€ / day" %></h4>

          <%= simple_form_for [ @dog, @booking ] do |f| %>
            <%= f.input :start_date, as: :date, order: [:day, :month, :year] %>
            <%= f.input :end_date, as: :date, order: [:day, :month, :year] %>
            <%= f.submit "Submit", class: "btn-main" %>
        <% end %>
      </div>

    </div>

  </div>


<div class="about-me">
  <h2> About Me </h2>
  <p class = "dog-description"> <%=  "#{@dog.name} is a beautiful and very calm dog.
  She loves playing with other dogs. She rarely barks and her favorite food is bacon"%> </p>
</div>
