<% flash[:notice] = "Your booking has been made and is pending confirmation" %>
<div class="container">
  <h4><%= "Booking with #{@booking.dog.name}" %></h4><br>



<table class="table">
  <thead>
    <tr>
      <th scope="col">Dog</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Total price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @booking.dog.name %></td>
      <td><%= "#{@booking.start_date.day}-#{@booking.start_date.month}-#{@booking.start_date.year} to #{@booking.end_date.day}-#{@booking.end_date.month}-#{@booking.end_date.year}"  %></td>
      <td><%= @booking.status %></td>
      <td><%= "#{@booking.total_price}€" %></td>
    </tr>

  </tbody>
</table>

</div>
