<div class="table-container">
  <h1>Your bookings</h1>
  <div class="booking-message">
    <% if @bookings.empty? %>
      <%= "You currently have no bookings" %>
    <% end %>
  </div>
  <% @bookings.each do |booking|%>
    <div class="container">
      <table class="table dashboard-table">
        <thead>
          <tr>
            <th scope="col">Dog</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Total price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= booking.dog.name %></td>
            <td><%= "#{booking.start_date.day}-#{booking.start_date.month}-#{booking.start_date.year} to #{booking.end_date.day}-#{booking.end_date.month}-#{booking.end_date.year}"  %></td>
            <td><%= booking.status %></td>
            <td><%= "#{booking.total_price}€" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>

  <% @my_doggies.each do |dog_booking| %>
  <h1><%= dog_booking.dog.name %></h1>
    <div class="container">
      <table class="table dashboard-table">
        <thead>
          <tr>
            <th scope="col">Dog</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Total price</th>
            <th scope="col">Accept/Reject</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= dog_booking.dog.name %></td>
            <td><%= "#{dog_booking.start_date.day}-#{dog_booking.start_date.month}-#{dog_booking.start_date.year} to #{dog_booking.end_date.day}-#{dog_booking.end_date.month}-#{dog_booking.end_date.year}"  %></td>
            <td><%= dog_booking.status %></td>
            <td><%= "#{dog_booking.total_price}€" %></td>
            <td id="button-td"><%=link_to "Accept", booking_path(dog_booking, booking: {status: "accepted"}), method: :patch, class:"btn-main", id:"accept"%>
            <%=link_to "Reject", booking_path(dog_booking, booking: {status: "rejected"}), method: :patch, class:"btn-main", id:"reject"%> </td>

          </tr>
        </tbody>
      </table>
    </div>

  <% end %>
</div>
